body {
    padding-top: 50px;
}

.navbar-brand{
    font-weight: 300px;
    
}

.divslider{
    display: flex;

    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
    background-image: url(../img/images.png);
    
}


.imgcarousel{
    align-items: center;
}
section{
    padding-top: 30px;
    padding-bottom: 15px;
    min-height: 100vh;
}

h1{
    color: rgb(133, 138, 128);
}

#logo{
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.1;
    
}
.sectionimg{
    background-image: url(../img/images.png);

}
.imgServicos{
    width: 400px;
    height: 215px;
}
.servicos  h4{
text-align: center;
}

h3
 {
    color: rgb(133, 138, 128);
}
h2
 {
    color: rgb(133, 138, 128);
}
.containercoments{
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 15px;
    
}

.imguser{
    width: 75px;
    height: 75px;
    padding: 10px;    
}
.coment{
    background-color: rgb(133, 138, 128);
    width: 250px;
    height: 100px;
    border-radius: 15px;
    margin-left: 35px;
    text-align: center;
    
}