body {
    padding-top: 50px;
}

.navbar-brand{
    font-weight: 300px;
    
}

.divslider{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(51, 52, 53);
    background-image: url(../img/images.png);
}


img{
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    width: 700px;
    height: 700px;
}
section{
    padding-top: 30px;
    padding-bottom: 15px;
    min-height: 100vh;
}

h1{
    color: rgb(133, 138, 128);
}

#logo{
    font-size: 20px;
    font-weight: 500px;
    line-height: 1.1;
    
}
.sectionimg{
    background-image: url(../img/images.png);

}